img.vk7tv-emote {
  display: inline-block;
  height: 26px;
  width: auto;
  vertical-align: middle;
  margin: -3px 1px;
  position: relative;
  transition: transform 0.12s ease;
}

img.vk7tv-emote:hover {
  transform: scale(1.6);
  z-index: 100;
}
